/*
 * Contents
 *
 * Global resets
 * Sidebar
 * Container
 * Themes
 */


/*
 * Global resets
 * THe colors used are #120E89 & #FF880A & #9304EE & 00D400
 * Update the foundational and global aspects of the page.
 */
@font-face {
     font-family: 'diodrumregular';
     src: url('/public/font/diodrum-regular-webfont.woff2') format('woff2'),
          url('/public/font/diodrum-regular-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;

 }

html {
  font-family: 'diodrumregular';
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}
/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}
@media (min-width: 36em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 14rem;
    text-align: left;
  }
}

/* Sidebar links */
.sidebar a {
  color: #fff;
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: serif;
  font-size: 3rem;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}
.sidebar-nav-item {
  display: block;
  line-height: 1.75;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  font-weight: bold;
  color: #a5009d;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    2rem;
  padding-bottom: 2rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 16rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 16rem;
    margin-right: 4rem;
  }
}

/* Base Theme for HTW*/
.theme-base-htw .sidebar {
  background-color: #00AE00;
}
.theme-base-htw .content a,
.theme-base-htw .related-posts li a:hover {
  color: #FF880A;
}
